# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.env
.venv/
venv/

# Data (DO NOT COMMIT LARGE FILES)
data/raw/
data/processed/
data/embeddings/

# Models
models/

# Notebooks checkpoints
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Build artifacts
build/
dist/
*.egg-info/

# IDEs
.vscode/
.idea/
